name: sdk_connectivity_cubit
publish_to: none

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

  bip39: ^1.0.6
  connectivity_plus: ^6.1.3
  breez_sdk_liquid:
    path: ../breez_sdk_liquid
  credentials_manager:
    path: ../credentials_manager
  breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-dart
  flutter_breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-flutter
  flutter_fgbg: ^0.7.0
  flutter_bloc: ^9.0.0
  flutter_secure_storage: ^9.2.4
  logging: ^1.3.0

dependency_overrides:
  # Comment-out to work with breez-sdk-liquid from git repository
  breez_liquid:
    path: ../../../breez-sdk-liquid/packages/dart
  flutter_breez_liquid:
    path: ../../../breez-sdk-liquid/packages/flutter