name: device_client
publish_to: none

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

  logging: ^1.3.0
  package_info_plus: ^8.3.0
  rxdart: ^0.28.0
  share_plus: ^10.1.4
  shared_preferences: ^2.5.2
