name: breez_sdk_liquid
publish_to: none

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter

  app_group_directory: ^2.0.0
  service_injector:
    path: ../service_injector
  breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-dart
  flutter_breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-flutter
  logging: ^1.2.0
  rxdart: ^0.28.0
  path_provider: ^2.1.4

dependency_overrides:
  # Comment-out to work with breez-sdk-liquid from git repository
  breez_liquid:
    path: ../../../breez-sdk-liquid/packages/dart
  flutter_breez_liquid:
    path: ../../../breez-sdk-liquid/packages/flutter